<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1602">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Merch</h2>
        </div>
        <div class="cs-listing-wrapper">
            <!--Listing 1-->
            <div class="cs-listing" data-category="one">
                <div class="cs-item">
                        <div class="cs-picture-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png">
                                <source media="(min-width: 601px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png">
                                <img loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png"
                                        alt="gallery" width="305" height="400">
                            </picture>
                            <span class="cs-offer">-20%</span>
                        </div>
                        <div class="cs-details">
                            <span class="cs-category">Run, Dress</span>
                            <h3 class="cs-name">Blue Chunky Beanie</h3>
                            <div class="cs-actions">
                                <div class="cs-flex">
                                    <span class="cs-price">$7.00</span>
                                    <span class="cs-was-price">$12.00</span>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="cs-item">
                        <div class="cs-picture-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png">
                                <source media="(min-width: 601px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png">
                                <img loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png"
                                        alt="gallery" width="305" height="400">
                            </picture>
                            <span class="cs-offer">-20%</span>
                        </div>
                        <div class="cs-details">
                            <span class="cs-category">Run, Dress</span>
                            <h3 class="cs-name">Oversized Alpaca Crew</h3>
                            <div class="cs-actions">
                                <div class="cs-flex">
                                    <span class="cs-price">$7.00</span>
                                    <span class="cs-was-price">$12.00</span>
                                   
                                </div>
                                
                            </div>
                        </div>
                </div>
                <div class="cs-item">
                        <div class="cs-picture-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png">
                                <source media="(min-width: 601px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png">
                                <img loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png"
                                        alt="gallery" width="305" height="400">
                            </picture>
                            <span class="cs-offer">-20%</span>
                        </div>
                        <div class="cs-details">
                            <span class="cs-category">Run, Dress</span>
                            <h3 class="cs-name">Diesel V2 Hoodie</h3>
                            <div class="cs-actions">
                                <div class="cs-flex">
                                    <span class="cs-price">$7.00</span>
                                    <span class="cs-was-price">$12.00</span>
                                   
                                </div>
                               
                            </div>
                        </div>
                </div>
                <div class="cs-item">
                        <div class="cs-picture-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-winter.png">
                                <source media="(min-width: 601px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-winter.png">
                                <img loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-winter.png"
                                        alt="gallery" width="305" height="400">
                            </picture>
                            <span class="cs-offer">-20%</span>
                        </div>
                        <div class="cs-details">
                            <span class="cs-category">Run, Dress</span>
                            <h3 class="cs-name">Blue Chunky Beanie</h3>
                            <div class="cs-actions">
                                <div class="cs-flex">
                                    <span class="cs-price">$7.00</span>
                                    <span class="cs-was-price">$12.00</span>
                                   
                                </div>
                                
                            </div>
                        </div>
                </div>
                <div class="cs-item">
                        <div class="cs-picture-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-round-neck.png">
                                <source media="(min-width: 601px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-round-neck.png">
                                <img loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-round-neck.png"
                                        alt="gallery" width="305" height="400">
                            </picture>
                            <span class="cs-offer">-20%</span>
                        </div>
                        <div class="cs-details">
                            <span class="cs-category">Run, Dress</span>
                            <h3 class="cs-name">Round neck T-shirt</h3>
                            <div class="cs-actions">
                                <div class="cs-flex">
                                    <span class="cs-price">$7.00</span>
                                    <span class="cs-was-price">$12.00</span>
                                    
                                </div>
                               
                            </div>
                        </div>
                </div>
                <div class="cs-item">
                        <div class="cs-picture-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-halter.png">
                                <source media="(min-width: 601px)"
                                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-halter.png">
                                <img loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-halter.png"
                                        alt="gallery" width="305" height="400">
                            </picture>
                            <span class="cs-offer">-20%</span>
                        </div>
                        <div class="cs-details">
                            <span class="cs-category">Run, Dress</span>
                            <h3 class="cs-name">Crossback Halter Dress</h3>
                            <div class="cs-actions">
                                <div class="cs-flex">
                                    <span class="cs-price">$7.00</span>
                                    <span class="cs-was-price">$12.00</span>
                                   
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>
</section>

<style lang="less">
    /*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #collection-1602 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-title {
            margin: 0 auto;
            font-family: 'Rock Salt', cursive;
            font-size: clamp(2rem, 5vw, 3rem);
            text-align: center;
            width: 100%;
        }

        .cs-listing-wrapper {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        .cs-listing {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            grid-auto-flow: row;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
            position: relative;
            transform-style: preserve-3d;
            perspective: 700px;
            transition: transform 0.7s, opacity 0.3s, visibility 0.5s, top 0.3s,
                left 0.3s;
            /* makes the transform scaling origin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;

            &.cs-hidden {
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                position: absolute;
                position: absolute;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the top:0 value, the gallery won't go past that position when it animates */
                top: 0;
                left: 0;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);
                /* prevents the mouse from interacting with it */
                pointer-events: none;

                .cs-image {
                    opacity: 0;
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(2.1875rem) rotateX(90deg);
                }

                .cs-item {
                    transform: rotateY(180deg);
                    opacity: 0;
                }
            }
        }

        .cs-item {
            width: 100%;
            max-width: (375/16rem);
            /* overwrites the default 'min-width: auto' value, keeping all grid items the same width no matter what*/
            min-width: 0;
            opacity: 1;
            padding: (16/16rem);
            border: 1px solid #e8e8e8;
            transform: rotateY(0);
            transition: transform 0.7s, opacity .3s;

            &:nth-of-type(1) {
                transition-delay: .1s;
            }
            &:nth-of-type(2) {
                transition-delay: .2s;
            }
            &:nth-of-type(3) {
                transition-delay: .3s;
            }
            &:nth-of-type(4) {
                transition-delay: .4s;
            }
            &:nth-of-type(5) {
                transition-delay: .5s;
            }
            &:nth-of-type(6) {
                transition-delay: .6s;
            }
            &:nth-of-type(7) {
                transition-delay: .7s;
            }
            &:nth-of-type(8) {
                transition-delay: .8s;
            }
            &:nth-of-type(9) {
                transition-delay: .1s;
            }
            &:nth-of-type(10) {
                transition-delay: .1s;
            }
            &:nth-of-type(11) {
                transition-delay: .1s;
            }
            &:nth-of-type(12) {
                transition-delay: .1s;
            }
        }

        .cs-link {
            text-decoration: none;

            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture-group {
            width: auto;
            height: (300/16rem);
            margin-bottom: (20/16rem);
            position: relative;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            background-color: #f6f6f6;
            overflow: hidden;
            display: block;

            img {
                width: 100%;
                height: 100%;
                /* using object-fit contain to keep the entirety of the product image in the frame */
                /* feel free to change this to 'cover', or adjust the background-color above if you have consistent backgrounds on your products */
                object-fit: contain;
                transition: transform .6s;
            }
        }

        .cs-offer {
            font-size: (13/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            padding: (6/16rem);
            color: #fff;
            background: #ff4747;
            position: absolute;
            top: (12/16rem);
            right: (12/16rem);
        }

        .cs-category {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: #767676;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            margin: 0;
            color: var(--headerColor);
            overflow: hidden;
        }

        .cs-actions {
            margin-top: (20/16rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-price {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--secondary);
        }

        .cs-was-price {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-decoration: line-through;
            color: #767676;
        }

    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-1602 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-listing {
            grid-template-columns: repeat(3, 1fr);
        }

        .cs-item {
            max-width: none;
        }

        .cs-picture-group {
            /* 200px - 320px */
            height: clamp(12.5rem, 23vw, 20rem);
        }
    }
}
                                
</style>