<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2179">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/hm-1097.JPG">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/hm-1097.JPG">
            <img loading="lazy" decoding="async" src="/assets/hm-1097.JPG" alt="wedding" width="384" height="509">
        </picture>
        <div class="cs-content">
            <!-- <span class="cs-topper">Welcome to Stitchography</span> -->
            <h2 class="cs-title">Wedding Officiant</h2>
            <p class="cs-text">
                Liz is a licensed wedding officiant. With deep roots in the islands and years of experience performing and officiating, Liz brings a warm, personal touch to every ceremony. Whether you're planning a beachside elopement or a full celebration with friends and family, she offers customized wedding services that honor your story and the spirit of your commitment. Her live music can also be included as part of your special day, adding a meaningful and memorable element to the ceremony.
            </p>
            <!-- <p class="cs-text">
                Our expert instructors give you the skills and knowledge to manage process risks and show you how to continuously make your facilities and operations more safe and reliable. PSRG training courses are available online. We have courses on-demand and live instructors for workshops and support.
            </p> -->
            <button class="cs-button-solid" onclick="openContactForm()">Book Me</button>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/hm-1209.JPG">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/hm-1209.JPG">
                <img loading="lazy" decoding="async" src="/assets/hm-1209.JPG" alt="wedding" width="383" height="262">
            </picture>
        </div>
    </div>
</section>

<style lang="less">
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2179 {
        padding: var(--sectionPadding);
        background-color: var(--primary);

        .cs-container {
            width: 100%;
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (775/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            font-family: 'Allura', cursive;
            color: var(--secondary);
            font-size: clamp(2rem, 3vw, 3rem);
        }

        .cs-text {
            max-width: 100%;
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            width: 100%;
            display: block;
            position: relative;
            z-index: 1;

            img {
                border: 8px solid #fff;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: 90%;
            height: 104vw;
            max-height: (500/16rem);

            &:before {
                content: '';
                width: 97%;
                height: 97%;
                border: 2px solid var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                z-index: -1;
                transform: translate(-50%, -50%) rotate(-5.9deg);
                transform-origin: center;
            }
        }

        .cs-picture2 {
            width: 93%;
            height: 57vw;
            max-height: (360/16rem);
            margin: (48/16rem) auto 0;

            &:before {
                content: '';
                width: 97%;
                height: 97%;
                border: 2px solid var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                z-index: -1;
                transform: translate(-50%, -50%) rotate(-11.35deg);
                transform-origin: center;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2179 {
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-content {
            width: 100%;
        }

        .cs-picture1 {
            font-size:~"min(1.1vw, 1em)";
            width: (384/16em);
            height: (509/16em);
            flex: none;
        }

        .cs-picture2 {
            font-size:~"min(1.1vw, 1em)";
            width: (383/16em);
            height: (262/16em);
            margin: (-26/16rem) 0 0 auto;
            flex: none;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #sbs-2179 {
        .cs-container {
            align-items: stretch;
        }

        .cs-picture1 {
            height: auto;
            max-height: 100%;
            margin-bottom: (44/16rem);
        }
    }
}
                                
</style>